@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/*Respoonsavel por mater as cores padrão que vai utilizar no sistema*/
:root {
  --primary-color: #da5c5c;
  --primary-hover-color: #a74b4b;
  --dark-color: #263238;
  --secondary-color: #9E9E9E;
  --light-color: #F5F5F5;
}
/*Responsavel por remover os espaçamentos de margens no sistema*/
html, body {
  margin: 0;
  padding:0;
}
/*Body responsavel por tornar a fonte importada no sistema para demais utilizações*/
body {
  font-family: 'Open Sans', sans-serif;
}

/*Responsavel por remover de toda <a href=''> o sublinhado de link*/
a {
  text-decoration: none;
}